<div>
  <h1>{{title}}</h1>
  <div
    class="rectangle-box"
    *ngFor="let box of allBoxes;let i = index; "
    (click)="selectBox(box,i)"
  >
    <label style="text-align: center;">
      <input
        type="radio"
        name="box"
        [value]="box.id"
        class="card-input-element"
      />
      {{box.name}}
    </label>
    <ng-container *ngIf="selectedBox">
      <div *ngIf="selectedBox.id == box.id;">
        <img style="width:60px;height:auto" [src]="box.img" />
        <button
          *ngIf="selectedBox.img"
          type="button"
          class="btn"
          (click)="onEvent($event);deleteImage($event,i)"
        >
          Delete Image
        </button>
      </div>
    </ng-container>
  </div>
</div>
